<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../static/css/kakeibo.css">
    <script type="text/javascript" src="../static/js/kakeibo.js"></script>
</head>
<body>
    <header class="topNavigation">
        <div style="float:left;">
          <div>ユーザー名</div>
          <div>テストユーザー</div>
        </div>
        <p>ナビゲーション</p>
        <div class="cb"></div>
      </header>
    <div>
        <h1 class="ts com_title">家計簿入力</h1>
    </div>
    <div>
        <table class="com_table" style="margin-bottom:30px;">
            <colgroup>
                <col width="150px">
                <col width="150px">
                <col width="150px">
                <col width="250px">
            </colgroup>
            <tr>
                <th class="com_th">
                    項目
                </th>
                <th class="com_th">
                    金額
                </th>
                <th class="com_th">
                    日付
                </th>
                <th class="com_th">
                    備考
                </th>
            </tr>
            <tr th:each="data : ${kakeiboDataList}" th:object="${data}">
                <td align="center" nowrap>
                    家賃
               </td>
               <td align="right" nowrap>
                   12345
               </td>
               <td align="right" nowrap>
                   2020/12/03
               </td>
               <td align="center" nowrap>
                   テスト値
               </td>
            </tr>
        </table>
    </div>
    <div>
        <table class="com_table">
            <colgroup>
                <col width="150px">
                <col width="150px">
                <col width="150px">
                <col width="250px">
            </colgroup>
            <tr>
                <th class="com_th">
                    項目
                </th>
                <th class="com_th">
                    金額
                </th>
                <th class="com_th">
                    日付
                </th>
                <th class="com_th">
                    備考
                </th>
            </tr>
            <tr>
                <td align="center" nowrap>
                    <select name=”item” class="input_item">
                        <option value=”” selected></option>
                        <option value=””>家賃</option>
                        <option value=””>ガス代</option>
                        <option value=””>水道代</option>
                        <option value=””>電気代</option>
                        <option value=””>食費</option>
                        <option value=””>日用品代</option>
                        <option value=””>雑費</option>
                    </select>
                </td>
                <td align="center" nowrap>
                    <input type="text" name="biko" class="tr" value="12345">
                </td>
                <td align="center" nowrap>
                    <input type="date"></input>
                </td>
                <td align="center" nowrap>
                    <input type="text" name="biko" class="input_biko" value="テスト値">
                </td>
            </tr>
        </table>
    </div>
    <div style="margin:20px 0px 0px 550px">
        <input type="button" value="行追加" onclick="" >
        <input type="button" value="家計簿登録" onclick="" >
    </div>
</body>